// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


//点击去除黄色框线
button:focus {
    outline: 0!important;
}
ion-label:focus{
    outline: 0!important;
}

//去除导航下面的条
.header-md:after{
    background-image: none;
}

.nav{
    text-decoration: none;
    font-size:18px;
    // font-weight: 600;
    font-weight:350;
    display: block;
    margin:0 15px;
    color:black;
}
.nav-focus{
    text-decoration: none;
    font-size:27px;
    font-weight:450;
    display: block;
    margin:0 15px;
    color:black;
    border-bottom: 2px solid#FFB5D0;
}
.iconSize{
    font-size: 35px;
}
span{
    font-size:17px;
}