// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


//点击去除黄色框线
button:focus {
    outline: 0!important;
}
ion-label:focus{
    outline: 0!important;
}

//去除导航下面的条
.header-md:after{
    background-image: none;
}