<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
        <ion-item>
          <a id='recommend' [routerLink]="['/tabs/home']" [ngClass]="{'nav-focus': navFlag,'nav':!navFlag}">推荐</a>
          <a id='interested' [routerLink]="['/tabs/interested']" [ngClass]="{'nav-focus': !navFlag,'nav':navFlag}">关注</a>
          <ion-chip color="primary" mode="md" outline="true" slot="end" [routerLink]="['/search']" > 
            <ion-icon class="iconSize" name="search"></ion-icon>
            <ion-label></ion-label>
          </ion-chip>
          
          <!-- <ion-icon class="iconSize"  name="search"></ion-icon> -->
          <!-- <ion-icon class="iconSize"  name="more"></ion-icon> -->
          <!-- <ion-icon name="text"></ion-icon> -->
        </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>推荐</ion-label>
  </ion-item>
</ion-content>




