// //去除顶部边框
ion-toolbar {
    --background: #ffffff;
    --border-color: #FFFFFF;
    --border-style: none;
    --border-width: 8px;
    --color: #FFFFFF;
    --min-height: 56px;
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
}
ion-item {
    --border-style: none;
}

// ion-chip{
//     --background:#FFFFFF;
//     font-size: 20px;
// }
